@model AdminB.Feature.CivilDiscourse.Models.CivilCommentsSectionViewModel

@{
    if (Model != null)
    {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        <script type="text/javascript" src="../scripts/commentbox.js"></script>

        <div>@Html.Raw(Model.IntroText)</div>

        <div class="comments-component">
            <div class="comments">
                @foreach (var comment in Model.Comments)
                {
                    <div class="comment">
                        <div class="header">
                            <div class="username">
                                @comment.Fields["Username"].Value.Replace("sitecore\\", ""):
                            </div>
                            <div class="date">
                                @comment.Created.ToString("g");
                            </div>
                        </div>
                        <div class="body">
                            @comment.Fields["Comment"].Value
                        </div>
                    </div>
                }
            </div>
        </div>

        if (Model.DisplayWarnings)
        {
            <div class="review-box">
                <h4 class="review-heading">We detected some language in your comment that is not conducive to a productive discussion. Please review your comment and consider changes the words and phrases we've highlighted. However over highlighted words for helpful tips and suggestions</h4>
                @Model.ReviewText
            </div>
        }

        using (Html.BeginForm("SubmitComment", "CivilComments", FormMethod.Post))
         {
             @Html.TextAreaFor(m => m.Comment, new { @class = "input-comment", @cols = 180, @rows = 10 })
             <a href="javascript:void(0);" class="submit-button">Submit</a>
             <input type="submit" class="submit-btn-hidden hidden"/>
             @Html.HiddenFor(m => m.PreviousComment)
             @Html.HiddenFor(m => m.TotalWarnings)
        }
        <span class="error-message">You haven't typed anything!</span>

        if (Model.PromptAreYouSure)
        {
            <div class="overlay">
                <div class="are-you-sure">
                    <a class="close-overlay close">X</a>
                    <span>It looks like you haven't made any changes. Are you sure you want to submit this comment?</span>
                    <asp:Button runat="server" Text="Yes, I'm Really Sure" OnClick="YesPleaseSubmitThisAwfulComment"></asp:Button>
                    <a class="close-overlay-btn close" href="javascript:void(0)">No, I'll revise it</a>
                </div>
            </div>
        }
    }
}

